body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #278d8d;
}
h1 {
    padding: 5px 35px;
    color: #699a43;
    background: #fff;
}
.field {
    border: 1px solid #fff;
}
.column {
    display: flex;
}
.ceil {
    width: 50px;
    height: 50px;
    /*border: 1px solid #fff;*/
    /*color: aliceblue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.column:nth-child(odd) .ceil:nth-child(odd) {
    /*background: #278d8d;*/
    background: #259a9a;
}
.column:nth-child(even) .ceil:nth-child(even) {
    background: #259a9a;
}
.body {
    background: #699a43 !important;
}
.head {
    background: #137c41 !important;
}
.food {
    background: #da3933 !important;
}

.right {
    cursor: pointer;
    border: 1px solid #fff;
    margin: 30px;
    padding: 5px 10px;
}

/*****/
/* modal */
/*****/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

/* Modal Footer */
.modal-footer {
    padding: 15px;
    background-color: #5cb85c;
    color: white;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-btn {
    background: red;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.modal-btn:hover {
    background: #ee3232;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}